.navbar {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #000000;
    backdrop-filter: blur(2px);
}

.navbar ul {
    list-style-type: none;
    margin: 0 0 0 220px;
    padding: 0;
}

.navbar ul > li {
    display: inline;
    padding: 29px;
}

.navbar ul > li > a {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
}

.navbar ul > li > a.active {
    color: #F9804B;
}

.navbar ul > li > a:hover {
    color: #F9804B;
}

.navbar ul > li > a.split {
    position: absolute;
    width: 105px;
    height: 22px;
    left: 1275px;
    top: 29px;
}

.section1-ft {
    background-image: url(../../assets/images/Giant_Panda.jpg);
    width: 1600px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.Ellipse-6 {
    border-radius: 100%;
    width: 465px;
    height: 465px;
    background-color: #F9804B;
    position: absolute;
    left: 807px;
    top: 92px;
}

.section1-text {
    font-size: 106px;
    line-height: 75%;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    left: 73px;
    top: 74px;
}

.favorite {
    color:#FFEE2E;
}

.btn-watch-online {
    background-color: #F9804B;
    border-radius: 25px;
    border-style: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 140%;
    position: absolute;
    width: 298px;
    height: 54px;
    left: 983px;
    top: 626px;
}

.btn-watch-online:hover {
    background-color: #E47209;
}

.section2 {
    background-image: url(../../assets/images/flower_foto1.png);
    /* width: 293px;
    height: 605px; */
    background-position: right top;
    background-repeat: no-repeat;
}

.section3_animal_card {
    background-image: url(../../assets/images/palm_foto.png);
    /* width: 880px;
    height: 460px; */
    background-position: left bottom;
    background-repeat: no-repeat;

    /* background-image: url(../../assets/images/strelitzia_1.png);
    width: 368px;
    height: 275px;
    background-position: right bottom;
    background-repeat: no-repeat; */
}

.section4 {
    background-color: #FED290;
}

.default-arrow-button {
    border-radius: 50%;
    width: 62px;
    height: 62px;
    background-color: #F9804B;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    color: #FFFFFF;
}

.section5 {
    background-image: url(../../assets/images/leav_foto.png);
    /* width: 300.92px;
    height: 295.45px; */
    background-position: right bottom;
    background-repeat: no-repeat;
}

footer {
    background-color: #111115;
    color: #FFFFFF;
}